@(user: GitHubUser, program: Program, ownAttendances: Option[List[Attendance]] = None)

@import helper._
@import AttendChoice._

@form(action = ownAttendances match { 
    case None => { routes.Attendances.addAttendance(program.id.get.toInt) }
    case Some(attendances) => { routes.Attendances.updateAttendance(program.id.get.toInt, attendances.head.person.id.get.toInt) }
  }, 'id -> "form") {
  <div class="control-group">
    <label class="control-label" for="input_name">名前</label>
    <div class="controls">
      <input type="text" id="input_name" class="input-medium"
             @ownAttendances match {
               case None => { name="new_name" value="@user.name" }
               case Some(attendances) => { name="name" value="@attendances.head.person.name" readonly="true" }
             }>
    </div>
  </div>
  <table id="attend-table" class="table table-bordered" style="width: auto">
    <thead>
      <tr>
        <th class="span2">日程</td>
        <th style="background-color: #D9EDF7;">出席</td>
        <th style="background-color: #D9EDF7;">コメント</td>
      </tr>
    </thead>

    <tbody>
    @ownAttendances match {
      case None => { 
        @program.schedules.map { s =>
          <tr>
            <th>@s.date.toString("yyyy-MM-dd(E)")</th>
            <td class="select-attendance" style="background-color: #D9EDF7;">
              <!-- 新規入力 -->
              <select name="attend_choice_@s.id" style="width: 50px">
                <option value="@Mitei.id" selected>-</option>
                <option value="@Maru.id">○</option>
                <option value="@Sankaku.id">△</option>
                <option value="@Batu.id">×</option>
              </select>
            </td>
            <td style="background-color: #D9EDF7;">
              <input type="text" class="input-xlarge" name="memo_@s.id" value="">
            </td>
          </tr>
        }
      }
      case Some(attendances) => {
        @program.schedules.map { s =>
          <tr>
            <th>@s.date.toString("yyyy-MM-dd(E)")</th>
            <td class="select-attendance" style="background-color: #D9EDF7;">
              <!-- 更新入力 -->
              <select id="attend-choice-@(s.id)" name="attend_choice_@s.id" style="width: 50px">
                <option value="@Mitei.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd")
                  ).map(_.choice.id).get == Mitei.id)"selected"}>-</option>
                <option value="@Maru.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  ).map(_.choice.id).get == Maru.id)"selected"}>○</option>
                <option value="@Sankaku.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  ).map(_.choice.id).get == Sankaku.id)"selected"}>△</option>
                <option value="@Batu.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  ).map(_.choice.id).get == Batu.id)"selected"}>×</option>
              </select>
            </td>
            <td style="background-color: #D9EDF7;">
              <input type="text" class="input-xlarge" name="memo_@s.id" value="@attendances.find(a =>
                  a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd")
                ).map(_.memo)">
            </td>
          </tr>
        }
      }
    }
    </tbody>
  </table>
}
