@(user: GitHubUser, 
  program: Option[Program], 
  attendances: List[Attendance], 
  persons: List[Person],
  ownPersonID: Option[Int] = None
)

@import helper._
@import AttendChoice._

@moreScripts = {
  <script type="text/javascript"><!--
    var programId = @program.get.id;
    $(function() {
      $('#addAttendanceSubmit').on('click', function() {
        var name = $('#input_name').val();
        if (name.trim().length == 0) {
          alert('名前を入力してください');
          return;
        }
        jsRouter.controllers.Attendances.addAttendance(programId).ajax({
          data: {
            new_name: name,
            @{Html{
              program.get.schedules.map { s =>
                s"""attend_choice_${s.id}: $$("select[name=attend_choice_${s.id}]").val()"""
              }.mkString(",")
            }},
            @{Html{
              program.get.schedules.map { s =>
                s"""memo_${s.id}: $$("input[name=memo_${s.id}]").val()"""
              }.mkString(",")
            }}
          },
          success: function() { window.location = '@routes.Programs.showProgram(program.get.id.get.toInt)' },
          error: function(xhr) { alert('failed to add attendance. [' + xhr.status + ']'); }
        });
      });
      $('#updateAttendanceSubmit').on('click', function() {
        jsRouter.controllers.Attendances.updateAttendance(programId, @ownPersonID.getOrElse(-1)).ajax({
          data: {
            name: $('#input_name').val(),
            @{Html{
              program.get.schedules.map { s =>
                s"""attend_choice_${s.id}: $$("select[name=attend_choice_${s.id}]").val()"""
              }.mkString(",")
            }},
            @{Html{
              program.get.schedules.map { s =>
                s"""memo_${s.id}: $$("input[name=memo_${s.id}]").val()"""
              }.mkString(",")
            }}
          },
          success: function() { window.location = '@routes.Programs.showProgram(program.get.id.get.toInt)' },
          error: function(xhr) { alert('failed to add attendance. [' + xhr.status + ']'); }
        });
      });
      $('#deleteAttendanceSubmit').on('click', function() {
        jsRouter.controllers.Attendances.deleteAttendance(programId, @ownPersonID.getOrElse(-1)).ajax({
          success: function() {
            window.location = '@routes.Programs.showProgram(program.get.id.get.toInt)';
          },
          error: function(xhr) { alert('failed to delete attendance. [' + xhr.status + ']'); }
        });
      });
      $('button#update-submit').on('click', updateAttendanceSubmit);
      $('button#delete-submit').on('click', deleteAttendanceSubmit);
    });
    
    var updatePersonId = 0;
    
    function updateAttendanceSubmit() {
      var name = $("#input-name-"+updatePersonId).val();
      
      if (name.length == 0) {
        alert('名前を入力してください');
        return;
      }
      
      jsRouter.controllers.Attendances.updateAttendance(programId, updatePersonId).ajax({
        data: { name: name, 
          @{Html{
            program.get.schedules.map { s =>
              s"""attend_choice_${s.id}: $$("#attend-choice-${s.id}-by-"+updatePersonId).val()"""
            }.mkString(",")
          }},
          @{Html{
            program.get.schedules.map { s =>
              s"""memo_${s.id}: ''"""
            }.mkString(",")
          }}
        },
        success: function(data) {
          window.location = '@routes.Programs.showProgram(program.get.id.get.toInt)';
        },
        error: function(xhr, status, err) { alert(xhr.responseText) }
      });
    }
    
    function deleteAttendanceSubmit() {
      jsRouter.controllers.Attendances.deleteAttendance(programId, updatePersonId).ajax({
        success: function() {
          window.location = '@routes.Programs.showProgram(program.get.id.get.toInt)';
        },
        error: function(xhr, status, err) { alert(xhr.responseText) }
      });
      
    }
    
    function changeUpdateCol(personId, personName) {
      updatePersonId = personId;
      
      // 名前を入力欄に変える
      var personName = document.getElementById("person-name-" + personId);
      personName.style.display = "none";
      var personEdit = document.getElementById("person-edit-" + personId);
      personEdit.style.display = "inline";
      
      // 1人分の各出欠をセレクトに変える
      var attends = document.getElementsByClassName("attendance-person-" + personId);
      var selects = document.getElementsByClassName("attendance-person-" + personId + "-edit");
      for(var i = 0; i < attends.length; i++) {
        attends[i].style.display = "none";
        selects[i].style.display = "inline";
      }
      
      // 他の名前リンクを不可動にする
      var clicks = document.getElementsByClassName("change-click");
      for(var i = 0; i < clicks.length; i++) {
        clicks[i].onclick = new Function("alert('同時編集できません');");
      }
      
      // 登録ボタンを表示
      document.getElementById("update-submit-area").style.display = "block";
    
    }
  // -->  
  </script>
}


@main("定例君", user = Some(user), moreScripts = moreScripts) {

  @program.map { p =>
    <h2>@p.title</h2>
    <pre style="margin-left: 50px; margin-right: 50px;">@p.description</pre>
    
    <p>
      @ownPersonID match {
        case None => {
          <a href="@routes.Attendances.showAddForm(program.get.id.get.toInt)" role="button" 
             class="btn btn-primary" data-toggle="modal" data-target="#formModal">出席情報を追加する</a>
        }
        case Some(x) => {
          <a href="@routes.Attendances.showUpdateForm(program.get.id.get.toInt, x)" role="button" 
             class="btn btn-primary" data-toggle="modal" data-target="#formModal">出席情報を更新する</a>
        }
      }    
    </p>
    
    <!-- Modal -->
    <div id="formModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="formModalLabel">出席情報入力</h3>
      </div>
      <div class="modal-body">
        <!-- showAddForm -->
      </div>
      <div class="modal-footer">
        @ownPersonID match { 
          case None => {<button id="addAttendanceSubmit" class="btn btn-primary">登録する</button>}
          case Some(_) => {
            <button id="updateAttendanceSubmit" class="btn btn-primary">更新する</button>
            <button id="deleteAttendanceSubmit" class="btn btn-danger">削除する</button>
          }
        }
        <button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
      </div>        
    </div>
  
    @form(action = routes.Attendances.addAttendance(p.id.get.toInt), 'id -> "form") {
      <table id="attend-table" class="table table-bordere" style="width: auto">
        <thead>
          <tr>
            <td class="span2"><!-- 日付の列 --></td>
            <td style="background-color: rgb(255,255,0); width: 12px;"><div align="center">○</div></td>
            <td style="background-color: rgb(255,255,0); width: 12px;"><div align="center">△</div></td>
            <td style="background-color: rgb(255,255,0); width: 12px;"><div align="center">×</div></td>
            <td style="background-color: rgb(255,255,0); width: 12px;"><div align="center">-</div></td>
          @ownPersonID match {
            case None => {
              @persons.map { person =>
                <td id="person-@person.id">
                  <span id="person-name-@person.id"><a href="#" class="change-click" onclick="changeUpdateCol(@person.id, '@person.name');">@person.name</a></span>
                  <span id="person-edit-@person.id" style="display: none;"><input id="input-name-@person.id" type="text" name="name" value="@person.name" style="width: 60px;" /></span>
                </td>
              }
            }
            case Some(x) => {
              @persons.map { 
                case person if (person.id == ownPersonID) => {
                  <a href="@routes.Attendances.showUpdateForm(program.get.id.get.toInt, x)" role="button" 
                     class="btn btn-primary" data-toggle="modal" data-target="#formModal">@person.name</a>
                }
                case person => {
                  <td>@person.name</td>
                }
              }
            }    
          }
          </tr>
        </thead>

        <tbody>
        @p.schedules.map { s =>
          <tr>
            <th>@s.date.toString("yyyy-MM-dd(E)")</th>
            <td style="background-color: rgb(255,255,0);">@attendances.filter(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  && a.choice == AttendChoice.Maru).length</td>
            <td style="background-color: rgb(255,255,0);">@attendances.filter(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  && a.choice == AttendChoice.Sankaku).length</td>
            <td style="background-color: rgb(255,255,0);">@attendances.filter(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  && a.choice == AttendChoice.Batu).length</td>
            <td style="background-color: rgb(255,255,0);">@attendances.filter(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                  && a.choice == AttendChoice.Mitei).length</td>
          @persons.map { person => 
            <td>
              <span class="attendance-person-@person.id">@{
                  attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                      && person.id == a.person.id) match { 
                    case Some(x) => x.choice match {
                      case AttendChoice.Maru    => "○"
                      case AttendChoice.Sankaku => "△"
                      case AttendChoice.Batu    => "×"
                      case AttendChoice.Mitei   => "-"
                    }
                    case None => "-"
                  }
                }
              </span>
              <span class="attendance-person-@person.id-edit" style="display: none;">
                    <select id="attend-choice-@(s.id)-by-@person.id" name="attend_choice_@s.id" style="width: 50px">
                      <option value="@Mitei.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                      && person.id == a.person.id).map(_.choice.id).get == Mitei.id)"selected"}>-</option>
                      <option value="@Maru.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                      && person.id == a.person.id).map(_.choice.id).get == Maru.id)"selected"}>○</option>
                      <option value="@Sankaku.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                      && person.id == a.person.id).map(_.choice.id).get == Sankaku.id)"selected"}>△</option>
                      <option value="@Batu.id" @{if(attendances.find(a => a.schedule.date.toString("yyyy-MM-dd") == s.date.toString("yyyy-MM-dd") 
                      && person.id == a.person.id).map(_.choice.id).get == Batu.id)"selected"}>×</option>
                    </select>
              </span>
            </td>
          }
          </tr>
        }
        </tbody>
      </table>
    }
    
    <div id="update-submit-area" class="alert alert-info" style="width:300px; display: none;">
      <button id="update-submit" type="button" class="btn btn-primary">更新する</button>
      <button id="delete-submit" type="button" class="btn btn-danger" style="margin-left: 100px;">削除する</button>
    </div>
    
  }

}
