@(clientID: String)

@import helper._

@main("定例君") {
    <div class="jumbotron">
      <h1>定例君です。</h1>
      <p class="lead">定例会議などの出欠確認を手軽に行えます!</p>
      <a class="btn btn-large" href="https://github.com/login/oauth/authorize?@clientID">
        <img src="@routes.Assets.at("images/GitHub-Mark-32px.png")" width="20px"/> Login with GitHub 
      </a>
    </div>

    <hr>

<!--
    <div class="row-fluid marketing">
      <div class="span6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
-->
}
