<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Log in</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <meta name="author" content="Mizuki Yamanaka">
  </head>
  
  <body>

    <div>
      <h2>Log in</h2>
      <a class="btn btn-large" href="https://github.com/login/oauth/authorize?client_id=f4421186d65920ba0229">
        <img src="@routes.Assets.at("images/GitHub-Mark-32px.png")" width="20px"/> GitHub 
      </a>
    </div>

  </body> 
</html>

