@(user: GitHubUser)

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Log in</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <meta name="author" content="Mizuki Yamanaka">
  </head>
  
  <body>

    <div>
      <h2>Logged in</h2>
      あなたのID: @user.id<br>
      あなたの名前: @user.name<br>
    </div>

  </body> 
</html>

